body {
    font-size: 16px;
    background-color: rgb(230, 230, 230);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

#header-nav { /*style narbar box*/
    background-color: lightblue;
    border-radius: 0;
    border: 1;
}

.navbar-brand {/*position text within navbar*/
    padding-top: 20px;  
}

.navbar-brand h1 { /*Restaurant name*/
    color: black; 
    font-size: 1.5em;  
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0; 
    line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{ /*get rid of underline while hovering/focusing*/
    text-decoration: none;
}

/* styling navbar items */
#nav-list {
    margin-top: 10px
}
#nav-list a {
    text-align: center; 
    color: black;     
}
#nav-list a span {
    font-size: 1.5em;
}

.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px; 
}

/* media queries addons */

/* large devices only */
@media (min-width: 1200px){
    #header-nav{
        height: 70px;
    }
}

/* medium devices only */
@media (min-width: 992px) and (max-width: 1199px){
    #header-nav{
        height: 70px;
    }
}

/* small devices only */
@media (min-width: 768px) and (max-width: 991px){
    #header-nav{
        height: 70px;
    }
}

/* extra small devices only */
@media (min-width: 767px){

}

/* main content container styling */

#chicken-tile, #beef-tile, #sushi-tile {
    background-color: lightgrey;
    border: 2px solid;
    border-color: black;
    margin-bottom: 25px;
    text-align: center; 
}

#chicken-tile span, #beef-tile span, #sushi-tile span {
    font-size: 1.5em;  
}

#chicken-tile section, #beef-tile section, #sushi-tile section {
   padding: 5px; 
}



